<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome School Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/layout1.css">
</head>
<body>
    <div class="container">
        <!-- side menu -->
        <div class="side">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSH-R2WtNAagBzCLZQfVeHd46asJXM1HNay6w&usqp=CAU" class="img" alt="">
            <div class="name">Lorem ipsum dolor sit.</div>
            <div class="item"><a href="#">Home</a></div>
            <div class="item"><a href="#">Home</a></div>
            <div class="item"><a href="#">Home</a></div>
            <div class="item"><a href="#">Home</a></div>
            <div class="item"><a href="#"><form action="/admin/logout" method="post">
            <button type="submit" class="sim">Logout</button>
            </form></a></div>
            
        </div>
        <!-- main menu -->
        <div class="main">
        <!-- search bar -->
        <div class="search">
            <form action="/admin/searchRandom" method="get">
            <input type="text" name="search" placeholder="Search" id="search">
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- classwise content -->
        <div class="student">
            <div class="info">
                <!-- basic info of student -->
                <div class="basicinfo">
                    <h3>Information</h3>
                    <div class="internalequality">
                        <div class="line">
                        <div><b>Name</b></div>
                        <div>Manjeet Singh</div>
                        </div>
                        <div class="line">
                        <div><b>Name</b></div>
                        <div>Manjeet Singh</div>
                        </div>
                    </div>
                    <div class="internalequality">
                        <div class="line">
                        <div><b>Name</b></div>
                        <div>Manjeet Singh</div>
                        </div>
                        <div class="line">
                        <div><b>Name</b></div>
                        <div>Manjeet Singh</div>
                        </div>
                    </div>
                    <div class="internalequality">
                        <div class="line">
                        <div><b>Name</b></div>
                        <div>Manjeet Singh</div>
                        </div>
                        <div class="line">
                        <div><b>Name</b></div>
                        <div>Manjeet Singh</div>
                        </div>
                    </div>
                </div>
                <div class="basicinfo2">
                    <div class="allergies">
                        <h2>Allergies</h2>
                    <ul class="list-a">
                        <li class="list-item">
                        <div class="head"><b>Lorem ipsum dolor sit.</b></div>
                        <div class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quibusdam perspiciatis ipsam.lorem4 </div>
                        </li>
                        <li class="list-item">
                        <div class="head"><b>Lorem ipsum dolor sit.</b></div>
                        <div class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quibusdam perspiciatis ipsam.lorem4 </div>
                        </li>
                        <li class="list-item">
                        <div class="head"><b>Lorem ipsum dolor sit.</b></div>
                        <div class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quibusdam perspiciatis ipsam.lorem4 </div>
                        </li>
                    </ul>
                    </div>
                    <div class="allergies">
                        <div class="eye">
                            <h2>Eyesight</h2>
                             <div>Lorem ipsum dolor sit amet consectetur.</div>
                        </div>
                        <h2>Dieseas</h2>
                    <ul class="list-a">
                        <li class="list-item">
                        <div class="head"><b>Lorem ipsum dolor sit.</b></div>
                        <div class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores quibusdam perspiciatis ipsam.lorem4 </div>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="reports">
                    <h2>Checkup Reports</h2>
                    <div class="types">
                        <div class="rtype">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRVZnsYBLihh1WmTAH_AXX8Xj2O89HcrC4BA&usqp=CAU" alt="" style="height:80px; width:80px;" >
                            <p>Eye Report</p>
                        </div>
                        <div class="rtype">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRVZnsYBLihh1WmTAH_AXX8Xj2O89HcrC4BA&usqp=CAU" alt="" style="height:80px; width:80px;" >
                            <p>Ear Report</p>
                        </div>
                        <div class="rtype">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRVZnsYBLihh1WmTAH_AXX8Xj2O89HcrC4BA&usqp=CAU" alt="" style="height:80px; width:80px;" >
                            <p>Bone Report</p>
                        </div>
                        <div class="rtype">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRVZnsYBLihh1WmTAH_AXX8Xj2O89HcrC4BA&usqp=CAU" alt="" style="height:80px; width:80px;" >
                            <p>Blood Report</p>
                        </div>
                        <div class="rtype">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRVZnsYBLihh1WmTAH_AXX8Xj2O89HcrC4BA&usqp=CAU" alt="" style="height:80px; width:80px;" >
                            <p>Teeth Report</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="choose">
                <div class="drop">
                    <form action="#" method="GET">
                        <select name="class" class="class" id="class">
                            <option value="" selected="selected">Class</option>
                        </select>
                        <select name="section" id="section" class="class">
                            <option value="" selected="selected">section</option>
                        </select>
                    </form>
                </div>
                <div class="item"><a href="#">Home</a></div>
                <div class="item"><a href="#">Home</a></div>
                <div class="item"><a href="#">Home</a></div>
                <div class="item"><a href="#">Home</a></div>
                <div class="item"><a href="#">Home</a></div>
            </div>
        </div>
        </div>
    </div>
    <!-- footer -->
</body>
</html>