<%- include('./base/head.ejs') %> 
<body>
    <div class="container">
        <!-- side menu -->
        <%- include('./base/side.ejs') %> 
        <!-- main menu -->
        <div class="main">
        <!-- search bar -->
        <%- include('./base/search.ejs') %> 
        <!-- classwise content -->
        <div class="student">
           <div class="student2">
               <div class="summary">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas vel rem magnam molestias, suscipit excepturi hic nihil, velit eveniet necessitatibus et vero. Id, praesentium? Dolorem sed aperiam illum tenetur minus cupiditate sunt sapiente neque odit reiciendis. Eius voluptas, nulla sit exercitationem provident quidem corrupti fugit quisquam! Quia et qui totam fugit! Quibusdam aliquam, rem commodi consequatur porro explicabo, delectus quae illum officia facere dicta minima corrupti quod eaque, deleniti rerum temporibus quam fugiat laboriosam voluptatibus illo. Officiis, nisi nesciunt tenetur debitis, repellat mollitia optio neque illo nam eligendi veritatis cupiditate, corporis quae cum dolore voluptates suscipit sed! Consequatur at perferendis ipsum unde consectetur eum provident laboriosam molestiae autem voluptate numquam nemo temporibus, doloribus impedit, repellendus blanditiis? Voluptatem repellat distinctio eius, at provident tenetur consectetur facere nihil placeat quas. Vel eius rerum dolores sapiente iusto velit doloribus perferendis, quisquam fuga quo magni recusandae aliquid ad, hic voluptatibus eaque commodi, dignissimos magnam. Harum perferendis, ad libero quisquam et sapiente nam accusantium sed quas nulla corrupti repellat quibusdam recusandae deleniti exercitationem rem minus eligendi doloribus illum voluptate ducimus aperiam commodi asperiores reiciendis? Iusto, quia. Qui non praesentium impedit dolores autem! Possimus consequuntur mollitia voluptatum animi rerum corrupti, hic modi at nobis quidem autem, minus, eveniet praesentium officiis inventore labore. Officiis illum modi obcaecati, aliquam qui magnam corrupti non laborum quos ullam? Natus culpa laudantium accusantium vel vitae excepturi reiciendis doloremque, omnis ad dolor est in cumque fuga incidunt laboriosam veritatis, temporibus, quaerat id quasi tempora. Quis sint animi eligendi cumque est ipsa error maiores. Fuga repellendus optio hic ullam, nobis officia dolor ipsum neque animi nemo amet blanditiis facere officiis, sed consequatur dolore? Quasi esse dicta dolore delectus quod magnam cumque excepturi velit, nesciunt tenetur magni, enim sint, officiis commodi alias laboriosam! Nemo aliquid rerum ipsum nihil nobis cum delectus ipsam, itaque officiis!
               </div>
               <div class="sum-nav">
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
               </div>
           </div>
        </div>
        </div>
    </div>
    <!-- footer -->
</body>
</html>