<%- include('./base/head.ejs') %> 
<body>
    <div class="container">
        <!-- side menu -->
        <%- include('./base/side.ejs') %> 
        <!-- main menu -->
        <div class="main">
        <!-- search bar -->
        <%- include('./base/search.ejs') %> 
        <!-- classwise content -->
        <div class="student">
           <div class="student2">
               <div class="summary">
                   <h2>Summary of your School</h2>
                   <% if(summary.length()>0){ %> 
                   <%= summary %> 
                   <% } else { %>
                   No summary is given by the organization please go to setting page and supply your institution summary and image.
                   <% } %>  
               </div>
               <div class="sum-nav">
                   <div class="pro">
                       <svg class="progress-ring" height="120" width="120">
                           <circle class="progress-ring__circle" stroke-width="1" 
                           fill="transparent" r="58" cx="60" cy="60"/>
                       </svg>
                   </div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
                   <div class="item"><a href="#">Physical</a></div>
               </div>
           </div>
        </div>
        </div>
    </div>
    <!-- footer -->
</body>
</html>