<div class="search">
    <form action="/admin/searchRandom" method="get">
    <input type="text" name="search" placeholder="Search" id="search">
    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </form>
</div>