<div class="side">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSH-R2WtNAagBzCLZQfVeHd46asJXM1HNay6w&usqp=CAU" class="img" alt="">
    <div class="name">Lorem ipsum dolor sit.</div>
    <div class="item"><a href="/admin/summary">Summary</a></div>
    <div class="item"><a href="#">Reports</a></div>
    <div class="item"><a href="#">Setting</a></div>
    <div class="item"><a href="/admin/logout">Log-out</a></div>
    
</div>